
/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.legal{
    display: block;
    font-size: 14px;
    margin-top: 100px;
    color: #0000006b;
}


/* SLIDER ------------------------------------------------------------------ */

.slide-control_zone{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}

.slide-control_zone .items-controller{
    height: 37px;
    width: 37px;
    border: 1px solid #00000048;
    font-weight: bold;
    margin-right: 10px;
    transition: all .2s;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-control_zone .items-controller img{
    max-height: 15px;
}

.slide-control_zone .items-controller .rotate-icon{
    transform: rotate(180deg);
}

.for-slick-slider{
    display: flex;
    z-index: 200;
}

.for-slick-slider .items{
    width: 350px;
    margin: 0 5px ; 
    position: relative;
    transition: all linear .4s;
    z-index: 9999;
}

.for-slick-slider .img-item-illustration{
    position: relative;
    height: 300px;
    transition:all .2s;
}

.for-slick-slider .img-item-illustration img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
